<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wirednest.apps.hairstyle" xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon,android:theme"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">
        <meta-data android:name="DATABASE" android:value="hairstyle.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.wirednest.apps" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlbumActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name=".activity.CaptureActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.wirednest.apps.hairstyle.activity.CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name="com.wirednest.apps.hairstyle.PhotoEditActivity"
            android:label="@string/title_activity_photo_edit" >
        </activity>
        <activity
            android:name="com.wirednest.apps.hairstyle.ViewPhotoActivity"
            android:label="@string/title_activity_view_photo" >
        </activity>
        <activity
            android:name="com.wirednest.apps.hairstyle.preview_image_sample"
            android:label="@string/title_activity_preview_image_sample" >
        </activity>
        <activity
            android:name="com.wirednest.apps.hairstyle.PreviewImageActivity"
            android:label="@string/title_activity_preview_image"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.wirednest.apps.hairstyle.EditImageActivity"
            android:label="@string/title_activity_edit_image"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.wirednest.apps.hairstyle.HairStyleCategoriesActivity"
            android:label="@string/title_activity_hair_stle_categories" >
        </activity>
    </application>

</manifest>
